<!DOCTYPE html>
<html>
<head>
  <title>MiniTrello</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="miniTrello" ng-controller="MainCtrl" ng-init="init()">

<%= render partial: "layouts/shared/navbar" %>
<!-- Page Content -->
<div class="container">
  <%= yield %>
</div>
<!-- /.container -->

<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
